.wrapper{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 15px 15px 15px;
}

.other-wrap{
  width: 100%;
  border-radius: 12px;
  background-color: #fff;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 31px;
  margin-bottom: 16px;
}

.buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons:last-child{
  margin-top: 12px;
}

.buttons__button1, .buttons__button3{
  cursor: pointer;
  width: 50%;
  border: 1.5px solid #60AC39;
  border-radius: 12px;
  padding: 17px;
  box-sizing: border-box;
}

.buttons__button1:active, .buttons__button2:active, .buttons__button3:active, .buttons__button4:active{
  transform: scale(0.95);
}

.buttons__text{
  font-size: 16px;
  margin-top: 7px;
  font-weight: 600;
  color: #000000;
}

.buttons__img{
  width: 40px;
  height: 40px;
}

.buttons__button2, .buttons__button4{
  cursor: pointer;
  width: 50%;
  border: 1.5px solid #7911D4;
  margin-left: 12px;
  border-radius: 12px;
  padding: 17px;
  box-sizing: border-box;
}

.buttons__button3{
  border: 1.5px solid #2B6CEE;
}

.buttons__button4{
  border: 1.5px solid #F9B006;
}

.support-link{
  font-weight: 500;
  font-size: 18px;
  margin-top: 15px;
}

.red-text{
  color: #FF3E3E;
}

.error-massages{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

h3, h4{
  font-size: 18px;
  margin: 0;
}

h3{
  margin-top: 15px;
  font-size: 22px;
}

.our-group, .support, .API{
  background: #fff;
  color: black;
  padding: 12px 15px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  justify-content: left;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.support, .API{
  margin-top: 15px;
}

.our-group__img, .support__img, .API__img{
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.add-app-to-group{
  cursor: pointer;
  position: fixed;
  bottom: 80px;
  width: 95%;
  padding: 15px;
  box-sizing: border-box;
  background: #F9B006;
  color: #fff;
  border-radius: 15px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
}

.add-app-to-group:active{
  transform: scale(0.9);
}

.inactive-button{
  display: none;
}

.active-button{
  display: block;
}

.text{
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  text-align: left;
}

.toast{
  width: 100%;
  margin: 0px 15px 0px 15px;
  padding: 9px 12px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  background: #FF3E3E;
  color: #fff;
  animation: show-toast 0.15s ease-in-out;
}

.toast-wrapper{
  position: fixed;
  bottom: 80px;
  text-align: left;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message__text{
  margin-left: 10px;
}

.red{
  color: #FF3F3F;
}

.green{
  color: #F9B006;
}

.history-item__amount, .rating-item__coins{
  font-size: 16px;
  font-weight: 500;
}

.rating-item__coins{
  color: #848484;
}

.modal__send-button, .boost-modal__button{
  cursor: pointer;
  background: #F9B006;
  color: #fff;
  padding: 12px 16px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 700;
}

.modal__user, .history-item, .rating-item{
  display: flex;
  align-items: center;
  color: black;
}

.history-item, .rating-item{
  width: 100%;
  background: #fff;
  border-radius: 14px;
  padding: 12px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.history-item__transfer-time{
  font-size: 14px;
  margin-left: auto;
}

.history-item:last-child, .rating-item:last-child{
  margin-bottom: 65px;
}

.rating-item__place{
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}

.modal__avatar, .history-item__user-avatar, .rating-item__user-avatar{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.modal__name, .history-item__name, .rating-item__name{
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal__status{
  font-size: 16px;
  font-weight: 500;
}

.modal__info, .history-item__info, .rating-item__info{
  text-align: left;
  width: 70%;
  word-break: break-all;
}

.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(7, 7, 7, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate{
  box-sizing: border-box;
  width: 110px;
  padding: 30px;
  background: #fff;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.rotate_icon{
  color: #000000;
  animation: rotating 1s ease-in-out infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes show-toast {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.header{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #EDEEF0;
}

.header__user-avatar{
  border-radius: 50%;
  width: 40px;
  margin-left: 15px;
  margin-top: 10px;
}

.header__separator-line{
  margin-top: 15px;
  width: 100%;
  height: 1px;
  background: #fff;
}

h2{
  margin: 0;
  margin-top: 47px;
  font-size: 14px;
  font-weight: 400;
  color: #848484;
}

.balance{
  margin-top: 23px;
  width: 100%;
  padding: 32px 16px 16px;
  background: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.balance__coins{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.balance__income{
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance__income-for-click, .balance__income-for-sec{
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.balance__income-for-sec{
  margin-left: 30px;
}

.balance__buy-upgrades-btn{
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  background-color: #F9B006;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  margin-top: 16px;
  color: #fff;
  width: 100%;
}

.balance__buy-upgrades-btn:active, .boost-modal__button:active{
  transform: scale(0.95);
  background-color: #f9b006d9;
}

.mining-button{
  cursor: pointer;
  width: 250px;
  height: 250px;
  left: 46.5px;
  top: 233px;
  background: #F9B006;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 47px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.05s;
}

.svg1, .svg2{
  margin-left: 4px;
  width: 18px;
  height: 18px;
}

.balance__text{
  font-size: 28px;
  font-weight: 700;
  margin-right: 12px;
}

.balance__span{
  font-size: 34px;
  font-weight: 500;
}

.balance__logo{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-left: 7px;
}

.information{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #848484;
  margin-top: 10px;
}

.information__income-for-second{
  margin-left: 20px;
}

.mining-button:active{
  transform: scale(0.95);
}

.nav-menu{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #EDEEF0;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
  padding: 7px;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.nav-menu__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  color: #848484;
  font-size: 12px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.nav-menu__home-outline-icon, .nav-menu__info-outline-icon, .nav-menu__more-horizontal-icon{
  color: #848484;
}

.copy-user-link:active{
  transform: scale(0.9);
}

.active-icon{
  color: #FAF000;
}

.nav-menu__text{
  margin-top: 6px;
  font-weight: 400;
  font-size: 12px;
}

.row{
  width: 100%;
  display: flex;
  align-items: center;
}

.row__rating, .row__transfer, .row__history, .row__shop{
  cursor: pointer;
  margin-top: 30px;
  border-radius: 20px;
  height: 120px;
  width: 50%;
  padding: 21px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: 0.1s;
}

.row__history, .row__shop{
  margin-top: 15px;
}

.row__rating{
  background: linear-gradient(113.27deg, #FAF000 0%, #FAB400 100%);
}

.row__transfer{
  background: linear-gradient(113.27deg, #36ED5E 0%, #2AE854 100%);
  margin-left: 15px;
}

.row__history{
  background: linear-gradient(113.27deg, #EF3DFF 0%, #7B3DFF 100%);
}

.row__shop{
  background: linear-gradient(113.27deg, #FF3E3E 0%, #FF833E 100%);
  margin-left: 15px;
}

.row__rating, .row__transfer, .row__history, .row__shop{
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.row__img-cup, .row__img-transfer, .row__img-history, .row__img-shop{
  width: 44px;
}

.row__span{
  margin-top: 5px;
  color: #fff;
}

.row__rating:active, .row__transfer:active, .row__history:active, .row__shop:active, .merchant:active, .modal__send-button:active{
  transform: scale(0.95);
}

.mined-for-all-time{
  width: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 13px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
}

.transfer-wrapper__text{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.transfer-wrapper__wrap{
  display: flex;
  align-items: center;
  width: 100%;
}

.transfer-wrapper{
  width: 100%;
  padding: 16px 12px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
}

.transfer-wrapper:first-child{
  margin-top: 30px;
  margin-bottom: 16px;
}

.transfer-wrapper__input, .transfer-wrapper__link, .modal__amount-transfer{
  width: 100%;
  padding: 9px 12px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.1px;
  border-radius: 8px;
  background: #EDEEF0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.modal__amount-transfer{
  margin-top: 12px;
}

.transfer-wrapper__copy-button{
  cursor: pointer;
  min-width: 71px;
  padding: 7px 12px;
  border: 2px solid #F9B006;
  border-radius: 8px;
  margin-left: 8px;
  font-size: 15px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.transfer-wrapper__copy-button:active{
  transform: scale(0.95);
}

.mined-for-all-time__logo{
  width: 55px;
  height: 55px;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 27.5px;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mined-for-all-time__information{
  display: flex;
  align-items: flex-start;
  margin-left: 12px;
  flex-direction: column;
}

.mined-for-all-time__quantity-span{
  font-size: 18px;
  font-weight: 600;
  color: rgba(22, 24, 29, 0.95);
}

.mined-for-all-time__ellipse{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #F9B006;
}

.mined-for-all-time__span{
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
  color: rgba(22, 24, 29, 0.95);
}

.merchant{
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background: linear-gradient(90.66deg, #36ED5E 0%, #2AE854 100%);
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.1s;
}

.modal, .boost-modal{
  position: fixed;
  width: 85%;
  padding: 15px;
  border-radius: 20px;
  background: #fff;
  animation: open-modal 0.15s ease-in-out;
}

.modal-close, .close-modal{
  position: fixed;
  width: 100%;
  height: 100%;
}

.boost-modal__info{
  display: flex;
  align-items: center;
}

.boost-modal__ellipse{
  width: 40px;
  height: 40px;
  border: 1px solid #F9B006;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

.boost-modal__name{
  margin-left: 12px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  width: 90%;
}

.modal-wrapper, .boost-modal-wrap{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  animation: change-opacity 0.15s ease-in-out;
}

.modal__merchant-id, .modal__merchant-token, .modal__user-token{
  text-align: left;
  padding: 12px 15px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  color: #848484;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal__merchant-token{
  margin-top: 15px;
}

.modal__generate-token, .modal__copy-user-token{
  cursor: pointer;
  width: 100%;
  background: #F9B006;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 7px;
  padding: 10px 0;
  transition-duration: 0.1s;
  box-sizing: border-box;
}

.user-link-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.modal__generate-token:active, .modal__copy-token:active, .modal__copy-user-token:active{
  transform: scale(0.95);
}

.modal__copy-token, .copy-user-link{
  cursor: pointer;
  background: #43A5FF;
  border-radius: 7px;
  padding: 7.5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition-duration: 0.1s;
}

.copy-user-link{
  padding: 4.5px;
}

.modal__icon-copy-outline, .copy-user-link__icon{
  color: #fff;
}

.modal__buttons{
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes open-modal {
  from{
    transform: scale(0.85);
  }
  to{
    transform: scale(1);
  }
}

@keyframes change-opacity {
  from{
    background: rgba(0, 0, 0, 0.01);
  }
  to{
    background: rgba(0, 0, 0, 0.4);
  }
}

@keyframes show-message {
  from{
    transform: scale(0.9);
  }
  to{
    transform: scale(1);
  }
}

.rating-buttons{
  width: 100%;
  padding: 15px 0;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  overflow-x: scroll;
}

.shop-buttons{
  width: 100%;
  padding: 15px 0 0;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-buttons::-webkit-scrollbar{
  display: none;
}

.rating-buttons__general, .rating-buttons__friends, .rating-buttons__shops, .rating-buttons__communities, .shop-buttons__clicks, .shop-buttons__seconds{
  cursor: pointer;
  padding: 9px 15px;
  background: #fff;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 7px;
}

.active{
  background: #F9B006;
  color: #fff;
}


.rating-buttons__communities{
  margin: 0;
}

.shop-buttons__seconds{
  margin: 0;
}

.header__title{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

.header__icon-chevron-back, .header__icon{
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 0.5;
  color: black;
}

.header__icon-chevron-back:active{
  transform: scale(0.9);
}


.header__icon-chevron-back{
  cursor: pointer;
}

.search-user, .user-link{
  margin-top: 30px;
  border: none;
  outline: 0;
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  border-radius: 7px;
  background: #fff;
  color: #848484;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1px;
  padding: 9px 15px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
}

.user-link{
  margin: 0;
  width: 100%;
}

::placeholder{
  color: #848484;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1px;
}

.rating-list, .transfer-list, .history-list, .shop-items-list{
  width: 100%;
  margin-top: 20px;
}

.rating-list{
  margin: 0;
}

.history-list{
  margin-top: 30px;
}

.empty-history{
  color: #848484;
  font-size: 20px;
}

.shop-item{
  cursor: pointer;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  text-align: left;
  margin-bottom: 15px;
}

.shop-item:last-child{
  margin-top: 0px;
  margin-bottom: 70px;
}

.shop-item:active{
  transform: scale(0.95);
}

.shop-item__img{
  width: 55px;
}

.shop-item__info{
  margin-left: 15px;
}

.shop-item__name{
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.shop-item__total-earning{
  color: #FF3F3F;
  font-weight: 500;
  font-size: 16px;
}

.shop-item__price, .shop-item__increase{
  color: #F9B006;
  font-weight: 500;
  font-size: 16px;
  margin-top: 2px;
}

.nav-menu__icon_active{
  padding: 10px 10.5px;
  background-color: #fff;
  border: 1px solid #F9B006;
  box-shadow: 0px 4px 8px rgba(249, 176, 6, 0.25);
  border-radius: 24px;
  width: 24px;
  height: 24px;
  transform: translateY(-20px);
}

::placeholder{
  font-weight: 400;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.1px;
}

.boost{
  cursor: pointer;
  left: 15px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #F9B006;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  transition: 0.04s ease-in-out;
}

.boost:active{
  transform: scale(0.94);
}