body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.1px;
  background: #EDEEF0;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(245, 2, 2, 0);
}

.content{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 55px;
}

*{
  text-decoration: none;
}